DATABASE_URL=postgresql://USUARIO:CONTRASEÑA@localhost:5432/buscafe
DIRECT_URL=postgresql://USUARIO:CONTRASEÑA@localhost:5432/buscafe
GOOGLE_PLACES_API_KEY="AIzaSyDsjvaBd7nUICPXDUSdscvjQCV2w3owXvs"
RESEND_API_KEY=your_resend_api_key_here
JWT_SECRET=buscafe_desarrollo_cambiar_en_produccion
